@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Shadows+Into+Light&display=swap");
* {
  /* font-family: "Geist", sans-serif;  */
  font-family: "Geist Mono", monospace;
  /* font-family: "Shadows Into Light", cursive; */
}
*::selection {
  background-color: #22c55e;
  color: white;
}
#texty {
  font-family: "Shadows Into Light", cursive;
}
.texty {
  font-family: "Shadows Into Light", cursive;
}

body {
  background: #f0fdf4;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0fdf4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #86efac;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
